<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>AIG Forge Hub</title>

</head>

<body>

<p>Login successful. Redirecting...</p>

<script th:inline="javascript">

    const accessToken=/*[[${accessToken}]]*/ '';
    const refreshToken=/*[[${refreshToken}]]*/ '';
    const nextPage=/*[[${nextPage}]]*/ '';

    if(nextPage==="/2fa/proceed") {

        const form=document.createElement("form");

        form.method="POST";
        form.action=nextPage;

        const accessInput=document.createElement("input");

        accessInput.type="hidden";
        accessInput.name="accessToken";
        accessInput.value=accessToken;

        const refreshInput=document.createElement("input");

        refreshInput.type="hidden";
        refreshInput.name="refreshToken";
        refreshInput.value=refreshToken;

        form.appendChild(accessInput);
        form.appendChild(refreshInput);

        document.body.appendChild(form);

        form.submit();

    } else {

        fetch(nextPage,{
            method:"GET",
            headers:{
                "Authorization":"Bearer "+accessToken,
                "X-Refresh-Token":refreshToken
            }
        })
            .then(response=>{

                if(!response.ok) {
                    throw new Error("Unable to open next page");
                }

                return response.text();

            })
            .then(html=>{

                document.open();
                document.write(html);
                document.close();

            })
            .catch(error=>{

                console.error(error);

                window.location.href="/auth/login";

            });
    }

</script>

</body>

</html>